[submodule "OCA/commission"]
	path = OCA/commission
	url = git@github.com:OCA/commission.git
	branch = 14.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 14.0

[submodule "OCA/sale-promotion"]
	path = OCA/sale-promotion
	url = git@github.com:OCA/sale-promotion.git
	branch = 14.0

[submodule "OCA/sale-reporting"]
	path = OCA/sale-reporting
	url = git@github.com:OCA/sale-reporting.git
	branch = 14.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 14.0

[submodule "CybroOdoo/CybroAddons"]
	path = CybroOdoo/CybroAddons
	url = git@github.com:CybroOdoo/CybroAddons.git
	branch = 14.0

[submodule "Jarsa/transport-management-system"]
	path = Jarsa/transport-management-system
	url = git@github.com:Jarsa/transport-management-system.git
	branch = 14.0

[submodule "JayVora-SerpentCS/SerpentCS_Contributions"]
	path = JayVora-SerpentCS/SerpentCS_Contributions
	url = git@github.com:JayVora-SerpentCS/SerpentCS_Contributions.git
	branch = 14.0

[submodule "JayVora-SerpentCS/Jasperreports_odoo"]
	path = JayVora-SerpentCS/Jasperreports_odoo
	url = git@github.com:JayVora-SerpentCS/Jasperreports_odoo.git
	branch = 14.0

[submodule "Viltco/bodysm"]
	path = Viltco/bodysm
	url = git@github.com:Viltco/bodysm.git
	branch = main

[submodule "Viltco/sb-ksa"]
	path = Viltco/sb-ksa
	url = git@github.com:Viltco/sb-ksa.git
	branch = main

[submodule "Viltco/demosmcmain"]
	path = Viltco/demosmcmain
	url = git@github.com:Viltco/demosmcmain.git
	branch = Live

[submodule "Viltco/erp"]
	path = Viltco/erp
	url = git@github.com:Viltco/erp.git
	branch = main

[submodule "Viltco/saudiaprint"]
	path = Viltco/saudiaprint
	url = git@github.com:Viltco/saudiaprint.git
	branch = app-om_sa_invoice

[submodule "Viltco/jorden"]
	path = Viltco/jorden
	url = git@github.com:Viltco/jorden.git
	branch = project

[submodule "Viltco/property"]
	path = Viltco/property
	url = git@github.com:Viltco/property.git
	branch = main

[submodule "shopinvader/odoo-shopinvader"]
	path = shopinvader/odoo-shopinvader
	url = git@github.com:shopinvader/odoo-shopinvader.git
	branch = 14.0

[submodule "akretion/phs-addons"]
	path = akretion/phs-addons
	url = git@github.com:akretion/phs-addons.git
	branch = 14.0

[submodule "Vauxoo/addons-vauxoo"]
	path = Vauxoo/addons-vauxoo
	url = git@github.com:Vauxoo/addons-vauxoo.git
	branch = 14.0

[submodule "guohuadeng/app-odoo"]
	path = guohuadeng/app-odoo
	url = git@github.com:guohuadeng/app-odoo.git
	branch = 14.0
